// Medium screen.
 @media screen and ( min-width: 500px ) {

   // List style.
  body ul li {
    width: 50%;

  }
}

// Larger screen.
@media screen and ( min-width: 968px ) {

  // List styles.
  body ul li {
    width: 33.333%;

  }
}
// Largestr screen.
@media screen and ( min-width: 1200px ) {

  // List styles.
  body ul li {
    width: calc(100% / 6 );

  }
}
